<strong>Olá, {{ usuario }}</strong>
<p>Olá, sua matrícula foi realizada com sucesso.</p>
<p>
    Detalhes da sua matrícula: 
    <strong>Data de início: </strong> {{ startDate }} <br />
    <strong>Data de finaliza: </strong>  {{ endDate }} <br />

</p>